{% extends "admin/app_index.html" %}

{% block sidebar %}
  <div id="content-related">
    <div class="module">
      <h2>Facturación</h2>
      <ul>
        <li><a href="/pedirCliente/">
          <b><h3>Obtener factura de un cliente</h3></b>
        </a></li>
        <li><a href="/buscarTodasFacturas/">
          <b><h3>Obtener toda la facturacion del sistema</h3></b>
        </a></li>
        <!-- Etc... -->
      </ul>
    </div>
  </div>
  <div id="content-secondary">
  </div>
{% endblock %}