<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href= "{% static 'ServiSoft/style.css' %}" />

<html>
	<!--HEAD-->
	<head>
		<title> {% block title %} SERVISOFT {% endblock%}</title>
		<meta charset="utf-8">
        </div>
 
	</head>


	<!--BODY-->
	<body>
    <div class="container_3">
        <div class="grid_3">
            <div class="banner"></div>
            <div class="blue_Bar"></div>
		    <header>

			    <h4>SERVISOFT</h4>

	            <section>
		            {% block content %}	
			            {% if user.is_authenticated %}
				            <h3>Bienvenido, {{ user.username }}. Gracias por acceder. </h3>
			            {% else %}
				            <h3>Bienvenido.</h3>
			            {% endif %}

		            {% endblock %}
	            </section>

		    </header>

		    <nav>
				    <h2><a href="{% url 'vista_principal' %}">Inicio</a><br/></h2>	
				
				    {% if user.is_authenticated %}
					    <h2><a href="/cliente/{{ user.username }}/">Productos</a><br/></h2>

					    <h2><a href="#">Servicios</a><br/></h2>
                        
					    <h2><a href="{% url 'vista_logout' %}">Logout</a><br/></h2>
				    {% else %}
					    <h2><a href="{% url 'vista_login' %}">Login</a><br/></h2>
				    {% endif %}
			</nav>


            </div>
        </div>
	</body>

	<!--FOOTER-->
	<footer>


	</footer>

</html>
