<!==Es una extension del archivo index.html==>
{% extends 'index.html' %}

{% block title %} MOCEL - Cliente Postpago {% endblock%}

{% block content %}
	<h1> Informacion del producto: </h1>

	<h3><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serial: {{producto.numserie}}.<br>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre: {{producto.nombreprod}}.
	</p></h3>

	<h3><p> El producto posee un plan postpago. </p></h3>


	<h2><p>Detalles de ultima factura: </p></h2>

	<h3> El total a cobrar por: <br>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Plan: {{ totalPlan }}. <br>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Paquetes: {{ totalPaquetes }}.<br>
	    TOTAL: {{ total }}.</h3> <br>

	<h2> <a href="/cliente/{{ user.username }}/"> Regresar </a></h2>

{% endblock%}


