<!==Es una extension del archivo index.html==>
{% extends 'index.html' %}

{% block title %} MOCEL - Cliente Prepago {% endblock%}

{% block content %}
	<h1> Informacion del producto: </h1>

	<h3><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serial: {{ producto.numserie }}  <br>
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre: {{ producto.nombreprod }}
	</p></h3>

	<h3> <p> El producto posee un plan prepago. </p> </h3> 

	<h2> <p> Posee un saldo de: {{saldo}} Bs.</p> <h2> <br> 

	<h2> <a href="/cliente/{{ user.username }}/"> Regresar </a> </h2>

{% endblock%}


