<!==Es una extension del archivo index.html==>
{% extends 'index.html' %}

{% block title %} MOCEL - Lista de productos {% endblock%}

{% block content %}
	<h4> Lista de Productos: </h4>

	{{ informacion }}

	<ol>
	{% for producto in lista_productos %}
	    <li> Nombre: {{ producto.nombreprod }} <br>
		 Serie: {{producto.numserie}} <br>
	    	 <a href="/producto/{{ producto.numserie }}/"> Consultar </a> <br> <br>
	    </li>
	{% endfor %}
	</ol>

	<a href="{% url 'vista_principal' %}"> Regresar </a>

{% endblock%}


