{% load staticfiles %}

<link rel="stylesheet" type="text/css" href= "{% static 'Mocel/style.css' %}" />

<html>
<head>
    <title>Introducir Cliente</title>
</head>
<body>
    <div class="container_3">
        <div class="grid_3">
            <div class="banner"></div>
            <h1> Por favor, introduzca la informacion del cliente al que desea conocer la facturacion</h1>
            {% if error %} <p> {{ error }} </p> {% endif %}
            <form action="/buscarFactura/" method="post">
                <table>
                    {{ form.as_table }}
                </table>
                {% csrf_token %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>